.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row .f-label {
  padding: 10px;
}

.entry {
  margin: 0 10px;
}

fieldset {
  border-width: 10px;
  border-style: ridge;
  border-color: rgb(40, 209, 221);
}
legend {
  font-weight: bold;
}

.margin {
  margin: 20px;
}
.button-margin {
  margin-left: 40px;
}

.font-12px {
  font-size: 12px;
}
